/*-- scss:color --*/
$mint-cream:#f7fff7;
$choc-cosmos: #590925;
$cambridge-blue:#689689;
$ash-grey: #B0CBC2;
$cambridge-blue-dark: darken($cambridge-blue, 15%);

/*-- scss:defaults --*/
$body-text-align: justify !default;
$code-block-bg-alpha: 0.1;
$footer-bg: rgba(#000000, 0.0);
;
$footer-fg: $mint-cream;

/*-- scss:mixins --*/
@mixin hover-transition {
  &:hover {
    opacity: 0.7;
    transition: color 0.2s ease-in-out;
  }
}

@mixin button-hover {
  &:hover {
    background-color: $brand-ash-grey;
    color: $brand-choc-cosmos;
    border: none;
    box-shadow: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

/*-- scss:rules --*/
// Navigation
.navbar {
  &-title {
    padding: 0;
    font-family: "Roboto Slab";
    font-size: 1.75rem;
  }
  
  &-collapse {
    padding: 0 1.5rem;
  }
}

// Sidebar
.sidebar {
  &-tools-main .tools-wide {
    display: block;
    margin-bottom: 10px;
  }
  
  &-navigation {
    box-shadow: inset -8px 5px 10px 5px $cambridge-blue-dark;
    
    .quarto-navigation-tool {
      opacity: 1;
      text-align: end;
      @include hover-transition;
    }
    
    .sidebar-item a,
    .nav-page .nav-page-text,
    & {
      font-size: 1.67rem;
      line-height: 2.5rem;
      text-align: end;
    }
  }
  
  &-logo {
    border-radius: 4rem;
    box-shadow: -8px 8px 10px $cambridge-blue-dark;
  }
}

// Components
.aa-Panel {
  fill: red;
}

.menu-text {
  text-shadow: -4px 3px 5px $cambridge-blue-dark;
}

.show {
  box-shadow: none;
}

.active {
  @include hover-transition;
}

// Buttons
.quarto-secondary-nav .quarto-btn-toggle {
  margin-right: 1rem;
  @include button-hover;
}

/* Hide the date in the title block */
.quarto-title-block .quarto-date {
  display: none;
}

.btn {
  background-color: $brand-cambridge-blue;
  box-shadow: none;
  line-height: 0;
  @include button-hover;
}

// Navigation elements
.breadcrumb {
  background-color: $brand-cambridge-blue;
  box-shadow: none;
}

//
.header {
  background-color: rgba($brand-dark-green, 0.25); // 20% opacity

  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  // background: rgba(255, 255, 255, 0.2); /* semi-transparent */
  backdrop-filter: blur(10px);          /* frosted glass effect */
  -webkit-backdrop-filter: blur(10px);  /* Safari support */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1000;
}

// Footer
.date-footer {
  position: fixed;
  bottom: 0;
}

// Footer blur effect
.footer {
  // background-color: rgba($brand-cambridge-blue, 0.33); // 20% opacity

  // position: fixed;
  // bottom: 0;
  // width: 100%;
  // padding: 1rem;
  background: rgba($brand-cambridge-blue, 0.4); /* semi-transparent */
  backdrop-filter: blur(7.5px);          /* frosted glass effect */
  -webkit-backdrop-filter: blur(7.5px);  /* Safari support */
  border-top: 1px solid rgba(245, 255, 245, 0.3);
  z-index: 1000;
}

//

header::first-letter,
header + div > h1:first-of-type::first-letter {
  font-size: 3rem;
  font-family: "UnifrakturMaguntia";
  margin-right: 5px;
  float: none;
  color: $brand-choc-cosmos; 
  background-color: rgba($brand-ash-grey, 0.5);
  // backdrop-filter: blur(10px);
  padding: 0.1em 0.11em 0 0.11em; // Reduce bottom padding
  margin: 0.1em 0.05em 0 0; // Top/right/bottom/left margins
  border-radius: 0.5rem;
  // box-shadow: -3px 2px 4px $cambridge-blue-dark;
}