// /*-- scss:color --*/
// $off-white:#f7fff7;
// $burgundy:#590925;
// $light-burgundy:#AF3257;
// $dark-green:#26392C;
// $medium-green-grey:#5A8567;
// $light-green-grey:#A3B4A9;
// $bg-green-grey:#DDE5DC;
// $medium-green-grey-dark: darken($medium-green-grey, 15%);

/*-- scss:defaults --*/
$body-text-align: justify !default;
$code-block-bg-alpha: 0.1;

/*-- scss:mixins --*/
@mixin button-hover {
  &:hover {
    background-color: $brand-medium-green-grey;
    color: $brand-off-white;
    box-shadow: inset 2px 2px 4px $brand-dark-green;
    transition:
      background-color 0.1s ease-in-out,
      box-shadow 0.1s ease-in-out;
  }
}

/*-- scss:rules --*/
// Button styling
.btn {
  background-color: $brand-burgundy;
  color: $brand-off-white;
  margin-bottom: 1rem;
  line-height: 1;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  @include button-hover;

  // Only remove margin-top space on mobile
  @include media-breakpoint-down(md) {
    margin-top: -0.5rem;
  }
}

// Reduce space before callout boxes
.callout {
  margin-top: -0.4rem;
}

// Style coauthor lines
.coauthor {
  font-style: italic;
  font-size: 0.8rem;
  margin-top: -0.75rem;
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: $brand-light-green-grey !important;
}

// Navigation
.navbar {
  &-title {
    padding: 0;
    font-family: "Roboto Slab";
    font-size: 1.25rem;
  }
  
  &-collapse {
    padding: 0 1.5rem;
    text-align: center;
  }
}

/* For all images in asides (including margin notes) */
aside img,
.column-margin img {
  border-radius: 25%;
  width: 80%; // optional: control size
  height: auto;
  box-shadow: 4px 4px 5px $brand-light-green-grey;
  // center the image'
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

// Components
.show {
  box-shadow: none;
}

//
.header {
  background-color: $brand-bg-green-grey;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer
.date-footer {
  position: fixed;
  bottom: 0;
}

header::first-letter,
header + div > h1:first-of-type::first-letter {
  font-size: 3rem;
  font-family: "UnifrakturMaguntia";
  margin-right: 5px;
  float: none;
  color: $brand-burgundy; 
  background-color: $brand-bg-green-grey;
  padding: 0.1em 0.11em 0 0.11em; 
  margin: 0.1em 0.05em 0 0; 
  border-radius: 0.5rem;
}