---
layout: archive
---

<img src="assets\images\IMG_5426.jpg" alt="View on Old Rag Mountain">

{{ content }}

<h2>{{ site.data.ui-text[site.locale].about_me | default: "About Me" }}</h2>

<p> I am an Economics PhD student at George Mason University. I recieved my Bachelors in Economics from GMU in 2019 and my Masters in 2021. </p>

<p> My research interests include political and economic development, historical political economy, and institutional change. Of particular focus are periods of conflict and how individual behavior is shaped by those conditions. I am also interested in geospatial methods and applied econometrics.</p>
