---
layout: archive
---

<img src="assets\images\IMG_5426.jpg" alt="View on Old Rag Mountain">

{{ content }}

<h2>{{ site.data.ui-text[site.locale].about_me | default: "About Me" }}</h2>

<p> I am an Economics PhD student at George Mason University. I recieved my Bachelors in Economics from GMU in 2019 and my Masters in 2021. </p>

<p> My research interests include political and economic development, historical political economy, and institutional change. Of particular focus are periods of conflict and how individual behavior is shaped by those conditions. I am also interested in geospatial methods and applied econometrics.</p>

<div id="substack-feed-embed"></div>
<script>
  window.SubstackFeedWidget = {
    substackUrl: "metrosds.substack.com",
    posts: 3,
    hidden: ["author", "comments"]
  };
</script>
<script src="https://substackapi.com/embeds/feed.js" async></script>

<!-- if you want blog function...

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
>